<!DOCTYPE html>
<html>
    <head>
        <title>URL shortner</title>
    </head>
    <body>
  <form  action="/api/url/shorten" method="POST">
      <input placeholder="long url" name="longUrl">
      <input type="submit">
    </form>
    <p id="message-1"></p>
    <p id="message-1"></p>

    
    </body>
</html>